@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0e1012;
    font-family: 'Lato', sans-serif;
}

body>img {
    margin: 40px;
}

section {
    inline-size: 3264px;
    block-size: 2331px;
    background-image: url(./images/Chart.png);
    background-size: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
}

.leader-wrapper {
    position: relative;
    margin-inline-start: 50px;
    margin-block-start: 785px;
    inline-size: 765px;
    block-size: 1485px;
}

.cliff {
    margin-inline-start: 38px;
    inline-size: 760px
}

.sierra {
    margin-inline-start: 15px;
}

.giovanni {
    margin-inline-start: 5px;
}

span {
    position: relative;
}

.slot .row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-block-start: 10px;
}

.slot .row>span {
    position: relative;
    margin-inline-start: 15px;
}

.slot .row .prime-counter {
    margin-inline-start: 25px;
}

.slot .row .prime-counter {
    margin-inline-start: 45px;
}

.slot2 {
    margin-block-start: 150px;
}

.slot3 {
    margin-block-start: 130px;
}

.shiny::after {
    content: url(./images/Shiny.webp);
    position: absolute;
    scale: 0.4;
    transform-origin: 0;
    inset-inline-start: 100px;
    inset-block-start: -60px;
}

.slot3 .shiny::after {
    inset-inline-start: 90px;
    inset-block-start: -70px;
}

.bug {
    background: #92BC2C;
    box-shadow: 0 0 20px #92BC2C;
}

.dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
}

.dragon {
    background: #0C69C8;
    box-shadow: 0 0 20px #0C69C8;
}

.electric {
    background: #F2D94E;
    box-shadow: 0 0 20px #F2D94E;
}

.fire {
    background: #FBA54C;
    box-shadow: 0 0 20px #FBA54C;
}

.fairy {
    background: #EE90E6;
    box-shadow: 0 0 20px #EE90E6;
}

.fighting {
    background: #D3425F;
    box-shadow: 0 0 20px #D3425F;
}

.flying {
    background: #A1BBEC;
    box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
    background: #5F6DBC;
    box-shadow: 0 0 20px #5F6DBC;
}

.grass {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
}

.ground {
    background: #DA7C4D;
    box-shadow: 0 0 20px #DA7C4D;
}

.ice {
    background: #75D0C1;
    box-shadow: 0 0 20px #75D0C1;
}

.normal {
    background: #A0A29F;
    box-shadow: 0 0 20px #A0A29F;
}

.poison {
    background: #B763CF;
    box-shadow: 0 0 20px #B763CF;
}

.psychic {
    background: #FA8581;
    box-shadow: 0 0 20px #FA8581;
}

.rock {
    background: #C9BB8A;
    box-shadow: 0 0 20px #C9BB8A;
}

.steel {
    background: #5695A3;
    box-shadow: 0 0 20px #5695A3;
}

.water {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}

.type-disc {
    position: relative;
    padding: 8px;
    height: 25px;
    width: 25px;
    box-sizing: border-box;
    clip-path: circle(40%);
    scale: 2;
    transform-origin: 0;
}

.disc-container {
    position: absolute;
    display: flex;
    z-index: 7;
    inset-inline-start: 80px;
    inline-size: max-content;
    max-inline-size: 180px;
    flex-wrap: wrap;
    inset-block-start: 100%;
    translate: calc(-50% - 30px) -35px;
    align-items: center;
}

.arlo>.slot>.row .disc-container {
    translate: calc(-30% - 30px) -35px;
}

.arlo .slot2 .row3 .disc-container {
    translate: calc(-30% - 30px) -29px;
}

.arlo .slot3 .row3 .disc-container {
    translate: calc(-30% - 30px) -39px;
}

.cliff .slot2 .row3 .disc-container {
    translate: calc(-50% - 30px) -29px;
}

.cliff .slot3 .row3 .disc-container {
    translate: calc(-50% - 30px) -39px;
}

.sierra .slot2 .row3 .disc-container {
    translate: calc(-50% - 30px) -29px;
}

.sierra .slot3 .row3 .disc-container {
    translate: calc(-50% - 30px) -39px;
}

.giovanni .slot2 .row3 .disc-container {
    translate: calc(-43% - 30px) -29px;
}

.giovanni .slot3 .row1 .disc-container {
    translate: calc(-43% - 30px) -39px;
}

img.pokemon {
    scale: 0.88;
    transform-origin: 0;
}

.arlo .slot>.row>span>img {
    translate: 20px 0;
}

.cliff .prime-counter {
    translate: -10px 0;
}

.cliff .counter {
    translate: -5px 0;
}

.sierra .prime-counter {
    translate: -10px 0;
}

.sierra .counter {
    translate: -5px 0;
}

.giovanni .prime-counter {
    translate: -20px 0;
}

.giovanni .counter {
    translate: -15px 0;
}

.arlo .counter {
    translate: 5px 0;
}

.pokemon {
    pointer-events: none;
}